/*
IMPORTS
*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&family=Space+Grotesk:wght@400;600&display=swap");
:root {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #21092f;
  background-color: #ffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  display: flex;
  @media (max-width: 1080px) {
    display: block;
  }
}

body {
  height: 100vh;
  @media (max-width: 1080px) {
    font-size: 12px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #21092f;
  cursor: pointer;
  color: #fff;
  transition: border-color 0.25s;
  @media (max-width: 1080px) {
    font-size: 18px;
  }
}

.circle-big {
  width: 47px;
  height: 47px;
  background-color: #ffff;
  border-radius: 50%;
}
.circle-small {
  width: 21px;
  height: 21px;
  border: 1px solid #ffff;
  border-radius: 50%;
}

.black-banner {
  max-width: 447px;
  height: 50px;
  background-color: #2f2f2f;
}
